<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Sophie加密空间⛔</h1>
  </div>

  <p id="demo">
    震惊！Sophie在活动中不小心说出了自己的QQ号！！
    </fieldset>
    该绝密页面因得曝光🈲
    还在等什么？
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
      🧡点🧡我🧡查🧡看🧡Sophie🧡美🧡图🧡
  </button>

  <div id="doge-image"/>

</body>

</html>
